.heading {
    font-size: clamp(2rem, 3vw + 1rem, 4rem);
}

.shortDescription {
    text-align: center;
    color: var(--gray-100);
    font-size: clamp(1rem, 0.5vw + 0.9rem, 1.3rem);
    width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width: 769px) {
    .shortDescription {
        width: 90%;
    }
}

@media only screen and (min-width: 1025px) {
    .shortDescription {
        width: 80%;
    }
}

@media only screen and (min-width: 1441px) {
    .shortDescription {
        width: 65%;
    }
}