.heading {
    font-size: 4.5rem;
}

.shortDescription {
    text-align: center;
    color: var(--gray-100);
    font-size: 1.5rem;
    width: 65%;
    margin: 0 auto;
}

@media only screen and (max-width: 1440px) {
    .shortDescription {
        width: 80%;
    }
}

@media only screen and (max-width: 1024px) {
    .shortDescription {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .heading {
        font-size: 3.5rem;
    }

    .shortDescription {
        width: 90%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .heading {
        font-size: 2.5rem;
    }
}