.skillsSection {
    display: flex;
    justify-content: space-around;
}

.container h2 {
    text-align: center;
}

.iconDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 28rem;
}

.iconContainer {
    width: 7rem;
    text-align: center;
}

.iconContainer img {
    padding: 1rem 1.5rem;
}

