.contactLinksSection ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
    margin: 0;
    width: 10rem;
}

.contactLinksSection ul li {
    width: 50%;
    text-align: center; 
}

.contactLinksSection ul li a {
    border: 1px solid white;
    width: 5rem;
    color: #FFF;
}