.skillsSection h2 {
    text-align: center;
    color: var(--gray-300);
    font-size: 1.2rem;
    margin-top: 0;
}

.iconDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}

.iconContainer {
    width: 3.5rem;
    text-align: center;
}

.iconContainer img {
    height: 4rem;
    width: auto;
    padding: 1rem .75rem;
    border-radius: 5px;
}

.iconContainer img:hover {
    background-color: var(--gray-500);
}

.iconContainer img:active {
    background-color: var(--gray-700);
    transform: translate(0, .5rem);
    padding: .9rem .7rem; /*shrinks background when pressing*/
}

@media only screen and (min-width: 451px) {
    .iconContainer {
        width: 7rem;
    }

    .iconContainer img {
        height: 5.5rem;
    }
}

@media only screen and (min-width: 769px) {
    .skillsSection h2 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .iconDisplay {
        max-width: 60%;
    }
}
