.skillsSection {
    display: flex;
    justify-content: space-around;
}

.container h2 {
    text-align: center;
    color: var(--gray-300);
}

.iconDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 28rem;
}

.iconContainer {
    width: 7rem;
    text-align: center;
}

.iconContainer img {
    padding: 1rem .75rem;
    border-radius: 5px;
}

.iconContainer img:hover {
    background-color: var(--gray-300);
}

.iconContainer img:active {
    background-color: #FFF;
}

