.skillsSection {
    display: flex;
    justify-content: space-around;
}

.container h2 {
    text-align: center;
    color: var(--gray-300);
}

.iconDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 28rem;
}

.iconContainer {
    width: 7rem;
    text-align: center;
}

.iconContainer img {
    padding: 1rem .75rem;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .container h2 {
        font-size: 1.2rem;
    }

    .iconContainer img {
        height: 5.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .iconContainer {
        width: 4rem;
    }

    .iconContainer img {
        height: 4rem;
    }
}

.iconContainer img:hover {
    background-color: var(--gray-500);
}

.iconContainer img:active {
    background-color: var(--gray-700);
    transform: translate(0, .5rem);
    padding: .9rem .7rem; /*shrinks background when pressing*/
}

