.projectContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    box-sizing: border-box;
}

.projectInfoHalf {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Title and important information overlaid on background image styles */

.imageContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .4rem;
    width: 96%;
    height: 37.5rem;
}

.shader {
    height: 100%;
    width: 100%;
    border-radius: .4rem;
    background-color: hsla(0, 0%, 0%, .7);
    backdrop-filter: blur(1px) saturate(100%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.projectMainInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 80%;
}

.projectName {
    color: var(--gray-100);
    font-size: clamp(2rem, 5vw, 2.5rem);
}

.technologiesUsed {
    color: var(--gray-100);
    font-size: clamp(1.5rem, 4vw, 1.8rem);
    margin: 0 0 .5rem;
}

.technologiesList {
    padding-left: 0;
}

.technologiesList li {
    color: var(--gray-100);
    font-size: 1.4rem;
}

.projectLink {
    border: 1px solid hsla(360, 100%, 100%, .9);
    background-color: hsla(360, 100%, 100%, .6);
    text-shadow: none;
    color: var(--gray-900);
    font-weight: 500;
    padding: .5rem;
    display: block;
    width: 10rem;
}

.projectLink:hover,
.projectLink:focus {
    background-color: hsla(360, 100%, 100%, .9);
}

.projectLink:active {
    background-color: hsla(360, 100%, 100%, .4);
    transform: translate(0, 3px);
}

/* Project details/description styles */
.projectDetails {
    width: 96%;
    text-align: center;
    font-size: 1rem;
}

@media only screen and (min-width: 901px) {
    .projectContainer {
        flex-direction: row;
    }

    .projectInfoHalf {
        width: 50%;
    }

    .imageContainer {
        width: 50rem;
    }

    .projectDetails {
        width: 80%;
    }
}
