.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    box-sizing: border-box;
}

.projectInfoHalf {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .projectContainer {
        flex-direction: column;
    }
    .projectInfoHalf {
        width: 100%;
    }
}

/*Title and important information overlaid on background image styles*/

.imageContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .4rem;
    width: 50rem;
    height: 37.5rem;
} 

@media only screen and (max-width: 900px) {
    .imageContainer {
        width: 96%;
    }
}

.shader {
    height: 100%;
    width: 100%;
    border-radius: .4rem;
    background-color: hsla(0, 0%, 0%, .7);
    backdrop-filter: blur(1px) saturate(100%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.titleInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86%;
}

.titleInfo h3 {
    color: var(--gray-100);
    font-size: 3.2rem;
    margin-top: 4rem;
    max-width: 98%;
}

.titleInfo h4 {
    color: var(--gray-100);
    font-size: 1.8rem;
    margin: 0 0 .5rem;
}

@media only screen and (max-width: 600px) {
    .titleInfo h3 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .titleInfo h3 {
        font-size: 2rem;
    }

    .titleInfo h4 {
        font-size: 1.5rem;
    }
}

.titleInfo ul {
    padding-left: 0;
    height: 28%;
    margin-bottom: 2.4rem;
}

.titleInfo ul li {
    color: var(--gray-100);
    font-size: 1.4rem;
}

.titleInfo a {
    border: 1px solid hsla(360, 100%, 100%, .9);
    background-color: hsla(360, 100%, 100%, .6);
    text-shadow: none;
    color: var(--gray-900);
    font-weight: 500;
    padding: .5rem;
    display: block;
    width: 10rem;
}

.titleInfo a:hover,
.titleInfo a:focus {
    background-color: hsla(360, 100%, 100%, .9);
}

.titleInfo a:active {
    background-color: hsla(360, 100%, 100%, .4);
    transform: translate(0, 3px);
}

/*Project details/description styles*/
.projectDetails {
    width: 80%;
    text-align: center;
    font-size: 1.125rem;
}

@media only screen and (max-width: 900px) {
    .projectDetails {
        width: 96%;
    }
}

@media only screen and (max-width: 500px) {
    .projectDetails {
        font-size: 1.15rem;
    }
}

