.projectContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    box-sizing: border-box;
}

.projectInfoHalf {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Title and important information overlaid on background image styles */

.imageContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .4rem;
    width: 96%;
    height: 37.5rem;
}

.shader {
    height: 100%;
    width: 100%;
    border-radius: .4rem;
    background-color: hsla(0, 0%, 0%, .7);
    backdrop-filter: blur(1px) saturate(100%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.titleInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.titleInfo h3 {
    color: var(--gray-100);
    font-size: 2rem;
    max-width: 98%;
}

.titleInfo h4 {
    color: var(--gray-100);
    font-size: 1.5rem;
    margin: 0 0 .5rem;
}

.titleInfo ul {
    padding-left: 0;
}

.titleInfo ul li {
    color: var(--gray-100);
    font-size: 1.4rem;
}

.titleInfo a {
    border: 1px solid hsla(360, 100%, 100%, .9);
    background-color: hsla(360, 100%, 100%, .6);
    text-shadow: none;
    color: var(--gray-900);
    font-weight: 500;
    padding: .5rem;
    display: block;
    width: 10rem;
}

.titleInfo a:hover,
.titleInfo a:focus {
    background-color: hsla(360, 100%, 100%, .9);
}

.titleInfo a:active {
    background-color: hsla(360, 100%, 100%, .4);
    transform: translate(0, 3px);
}

/* Project details/description styles */
.projectDetails {
    width: 96%;
    text-align: center;
    font-size: 1.15rem;
}

@media only screen and (min-width: 501px) {
    .titleInfo h3 {
        font-size: 2.5rem;
    }

    .titleInfo h4 {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 601px) {
    .titleInfo h3 {
        font-size: 3.2rem;
    }

    .projectDetails {
        font-size: 1.125rem;
    }
}

@media only screen and (min-width: 901px) {
    .projectContainer {
        flex-direction: row;
    }

    .projectInfoHalf {
        width: 50%;
    }

    .imageContainer {
        width: 50rem;
    }

    .projectDetails {
        width: 80%;
    }
}
