.nav {
    padding: 1.5rem 0 1rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav a {
    padding: .5rem;
    font-size: 1.5rem;
    border: 2px solid var(--main-background-color);
    color: inherit;
    text-decoration: none;
}

.nav a:hover {
    color: var(--accent-color-red);
    background-color: hsla(213, 24%, 22%, 1);
    border: 2px solid var(--accent-color-blue);
    border-radius: 3px;
}


.leftNavButton:hover {
    filter: drop-shadow(15px 15px 1px var(--accent-color-gray));
}

.rightNavButton:hover {
    filter: drop-shadow(-15px 15px 1px var(--accent-color-red));
}

.nav a:focus {
    background-color: green;
}

.nav a:active {
    background-color: orange;
}



