nav {
    padding: 1.5rem 0 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

a {
    padding: .5rem;
    font-size: 1.5rem;
    border: 2px solid var(--main-background-color);
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-3);
    background-color: hsla(213, 24%, 22%, 1);
    border: 2px solid var(--accent-color-1);
    border-radius: 3px;
}


.leftNavButton:hover {
    filter: drop-shadow(15px 15px 1px var(--accent-color-2));
}

.rightNavButton:hover {
    filter: drop-shadow(-15px 15px 1px var(--accent-color-3));
}

a:focus {
    background-color: green;
}

a:active {
    background-color: orange;
}



