.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.contact p:first-of-type{
    margin-top: 0; /*to space page header evenly*/
}

.contact aside {
    font-size: .8rem;
    color: var(--primary-blue-700)
}

/*Contact link styles*/
.contactLink {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
    box-sizing: border-box;
}

.contactLink:before {
    /*colors for glowing effect*/
    content: "";
    background: linear-gradient(
        45deg,
        var(--accent-teal-500),
        var(--accent-orange-500),
        #fffb00,
        var(--accent-teal-500),
        var(--primary-blue-300),
        #7a00ff,
        var(--accent-teal-500)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: contact-button 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
}

@keyframes contact-button {
    /*glowing/shifting color animation*/
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 200% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.contactLink:after {
    /*solid background for text*/
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-blue-700);
    left: 0;
    top: 0;
    border-radius: 4px;
}

.contactLink:focus,
.contactLink:hover {
    color: var(--accent-gold-500);
}

.contactLink:focus:before,
.contactLink:hover:before {
    background: var(--accent-gold-500);
}

.contactLink:focus:after,
.contactLink:hover:after {
    background: var(--primary-blue-600);
}

.contactLink:active {
    color: var(--accent-teal-500);
    transform: translate(0, 3px);
}

.contactLink:active:before {
    background: var(--accent-teal-500);
}

.contactLink:active:after {
    background: var(--primary-blue-600);
}

/*Styles for coolLink (when transform is true) background none*/
.coolLink {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
}

.coolLink:before {
    /*colors for glowing effect*/
    content: "";
    background: linear-gradient(
        45deg,
        var(--accent-teal-500),
        var(--accent-orange-500),
        #fffb00,
        var(--accent-teal-500),
        var(--primary-blue-300),
        #7a00ff,
        var(--accent-teal-500)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: contact-button 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
}

.coolLink:focus,
.coolLink:hover {
    color: var(gray-100);
    outline: 5px solid var(--accent-blue-300);
}

.coolLink:focus:before,
.coolLink:hover:before {
    background: linear-gradient(
        45deg,
        var(--primary-blue-300),
        var(--accent-teal-500),
        var(--accent-orange-500-sat),
        var(--accent-blue-500),
        var(--accent-teal-700),
        var(--primary-blue-300),
        var(--accent-gold-500)
    );
}

.coolLink:active {
    transform: translate(0, 3px);
    outline: 5px solid var(--accent-blue-500);
    color: var(--gray-100)
}

.coolLink:active:before {
    background: linear-gradient(
        45deg,
        var(--primary-blue-500),
        var(--accent-teal-700),
        var(--accent-orange-700-sat),
        var(--accent-blue-700),
        var(--accent-teal-900),
        var(--primary-blue-500),
        var(--accent-gold-600)
    );
}