.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact aside {
    font-size: .8rem;
}

/*Contact link styles*/
.contact a {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: #FFF;
    background: var(--main-background-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
}

.contact a:before {
    content: "";
    background: linear-gradient(
        45deg,
        var(--accent-color-red),
        #ff7300,
        #fffb00,
        var(--accent-color-blue),
        #002bff,
        #7a00ff,
        var(--accent-color-red)
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: contact-button 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 4px;
}

@keyframes contact-button {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 200% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.contact a:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-background-color);
    left: 0;
    top: 0;
    border-radius: 4px;
}

.coolLink:after {
    background: none !important;
}

.contact a:focus {
    color: gold;
}

.contact a:focus:before {
    background: gold;
}

.contact a:focus:after {
    background: hsla(213, 24%, 20%, 1);
}

.contact a:hover {
    color: gold;
}

.contact a:hover:before {
    background: gold;
}

.contact a:hover:after {
    background: hsla(213, 24%, 20%, 1);
}

.contact a:active {
    color: var(--accent-color-blue);
}

.contact a:active:before {
    background: var(--accent-color-blue);
}

.contact a:active:after {
    background: hsla(213, 10%, 20%, 1);
}