.contactLinksSection ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
    margin: 0;
    width: 14rem;
}

.contactLinksSection ul li {
    display: flex;
    width: 6rem;
    align-items: center;
}

.contactButton {
    border: 1px solid var(--gray-100);
    width: 100%;
    color: var(--accent-orange-500-sat);
    text-align: center;
}

.contactButton:hover,
.contactButton:focus {
    background-color: var(--primary-blue-500);
    border: 1px solid var(--accent-orange-500-sat);
}

.contactButton:active {
    background-color: var(--primary-blue-700);
    border: 1px solid var(--accent-orange-700-sat);
}