/*General page styles*/
.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexRow h3 {
    width: 100%;
}

.resumeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.resumeSection h3 {
    width: 100%;
    background-color: var(--primary-blue-500);
    color: var(--gray-100);
    padding: .3rem;
}



/*Statement section*/
.statementHeader h3 {
    margin-top: 0;
}

.statementHeader p {
    margin: .75rem 3rem;
}

/*Skills section*/
.skill {
    height: 15rem;
    width: max(25%, 28rem);
    margin: 1rem 2.5rem;
}

.skill h4 {
    background-color: var(--accent-blue-700);
    color: var(--accent-orange-500-sat);
    border-radius: 6px;
    width: 35%;
}

.skillDescription {
    display: flex;
    height: 100%;
    align-items: center;
}

/*Education section*/
.educationThird {
    width: max(30%, 35rem);
    margin: 0 1.2rem;
}

.educationThird h4 {
    color: var(--accent-blue-900);
    font-size: 1.2rem;
}

.educationThird p:first-of-type {
    color: var(--accent-orange-700-sat);
    font-weight: 600;
}

.educationDescription {
    line-height: 2rem
}


.codecademyCertifications ul {
    padding-left: 0;
}

.codecademyCertifications ul li {
    margin: .5rem 0;
}

.codecademyCertifications a {
    color: var(--primary-blue-700);
    font-weight: 500;
    text-decoration: underline;
}

.codecademyCertifications a:hover,
.codecademyCertifications a:focus {
    color: var(--accent-orange-600-sat);
}

.codecademyCertifications a:active {
    color: var(--accent-orange-700-sat);
    padding-left: 2rem;
}

/*Work Experience section*/

.job {
    width: 30rem;
    margin: 0 3rem;
}

.job h4 {
    color: var(--primary-blue-700)
}

.job p:first-of-type {
    color: var(--accent-orange-700-sat);
    font-weight: 600;
}