.bioContainer h3 {
    text-align: center;
}

.bioColContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.bioCol {
    display: flex;
    background-color: var(--primary-blue-600);
    border-radius: 5px;
    flex-direction: column;
    width: max(30%, 30rem);
    margin: 1rem 1rem;
}

.bioParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-150);
    border-radius: 5px;
    height: 100%;
}

.bioParagraph:not(:last-child) {
    margin: 2rem 2rem 1rem; 
}

.bioParagraph:not(:first-child) {
    margin: 1rem 2rem 2rem; 
}

.bioParagraph p {
    color: var(--accent-blue-700);
    font-weight: 450;
    line-height: 1.8rem;
    padding: 0 8%;
    text-align: center;
}

.hide {
    opacity: 0;
}

.none {
    display: none;
}

@media only screen and (max-width: 1440px) {
    .bioColContainer {
        justify-content: center;
    }
    .bioCol {
        margin: 1rem 2rem;
        width: max(42%, 35rem);
    }
}

@media only screen and (max-width: 500px) {
    .bioCol {
        margin: 1rem 1rem;
    }

    .bioParagraph p {
        font-size: 1rem;
        padding: 0 6%;
    }
}

