.bioContainer h3 {
    text-align: center;
}

.bioColContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.bioCol {
    display: flex;
    background-color: var(--primary-blue-600);
    border-radius: 5px;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: max(30%, 30rem);
    margin: 1rem 1rem;
}

.bioParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-150);
    border-radius: 5px;
    height: 100%;
}

.bioParagraph p {
    color: var(--accent-blue-700);
    font-weight: 450;
    line-height: 1.8rem;
    padding: 0 0.5rem;
    text-align: center;
    font-size: 1rem;
}

@media only screen and (min-width: 501px) {
    .bioParagraph p {
        font-size: initial;
        padding: 0 1rem;
    }
}
