.headingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-blue-700);
    padding: 1rem 0;
}

.headingText h1 {
    margin: 0;
}

.socialLinks {
    display: flex;
    gap: 0.5rem;
}

@media only screen and (min-width: 425px) {
    .headingContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .headingSideDiv {
        display: flex;
        justify-content: flex-end;
        width: 10%;
        margin: 0 0.3rem 0 0;
    }

    .socialLinks {
        flex-direction: column;
        gap: 0;
    }
}

@media only screen and (min-width: 501px) {
    .headingSideDiv {
        margin-inline-end: 2rem;
    }
}