.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-blue-700);
    height: 6.5rem;
}

.headingSideDiv {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    margin: 0 0.3rem 0 0;
}

.headingText {
    margin: 0 auto;
    font-size: 1rem;
}

@media only screen and (min-width: 501px) {
    .headingSideDiv {
        margin: 0 2rem;
    }
}