.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-blue-700);
    height: 6.5rem;
}

.headingSideDiv {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    margin: 0 2rem;
}

.headingText {
    margin: 0;
}