.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-background-color);
    height: 6rem;
}

.headingSideDiv {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    padding: 0 1.5rem;
}

.headingText {
    margin: 0;
}