.navContainer {
    height: 4rem;
    margin: 0;
    padding: 0;
}

.navContainer ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    padding-inline-start: 0;
}

.navContainer li {
    display: flex;
    flex: 1 1 0%;
    min-width: 0; /* prevent overflow when labels are long */
    justify-content: center;
    align-items: center;
    
}

.navButton {
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-300);
    color: var(--primary-blue-700);
    font-weight: 600;
    font-size: clamp(.9rem, 3vw, 1.3rem);
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--primary-blue-700);
}

.navContainer ul li + li .navButton {
    border-left: 2px solid var(--primary-blue-700);
}

/*maintain different color for current page*/
.current {
    background-color: var(--accent-orange-500-sat);
}

.navButton:hover {
    color: var(--gray-100);
}

.navButton:not(.current):hover {
    background-color: var(--accent-red-300);
}


.navButton:focus {
    color: var(--gray-100);
}

.navButton:not(.current):focus {
    background-color: var(--accent-red-300);
}


/*Skeuomorphic movement when clicking*/
.navContainer .navButton:active {
    border-top: 3px solid var(--primary-blue-700);
    border-right: 1px solid var(--primary-blue-700);
    border-left: 3px solid var(--primary-blue-700);
    border-bottom: 3px solid var(--primary-blue-700);
}
.navContainer li:last-child .navButton:active {
    border-right: 3px solid var(--primary-blue-700);
}

.navButton:not(.current):active {
    background-color: var(--accent-red-400);
}

.current:active {
    background-color: var(--accent-orange-600-sat);
}




