.nav {
    height: 4rem;
    margin: 0;
    padding: 0;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    padding-inline-start: 0;
}

.nav ul li {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    
}

.navButton {
    display: flex;
    position: relative;
    z-index: 0;
    box-sizing: border-box; /*was overidden to content-box*/
    justify-content: center;
    align-items: center;
    background-color: var(--gray-300);
    color: var(--primary-blue-700);
    font-weight: 600;
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--primary-blue-700);
}

.nav ul li:not(:last-child) .navButton {
    border-right: 1px solid var(--primary-blue-700);
}

.nav ul li:not(:first-child) .navButton {
    border-left: 1px solid var(--primary-blue-700);
}

/*maintain different color for current page*/
.current {
    background-color: var(--accent-orange-500-sat);
}

.navButton:hover {
    color: var(--gray-100);
}

.navButton:not(.current):hover {
    background-color: var(--accent-red-300);
}


.navButton:focus {
    color: var(--gray-100);
}

.navButton:not(.current):focus {
    background-color: var(--accent-red-300);
}


/*Skeuomorphic movement when clicking, diff reqs depending on child*/
.navButton:active {
    height: calc(100% - 0.25rem);
    box-sizing: content-box; /*to make borders actually expand element*/
    border-top: 4px solid var(--primary-blue-700);
    border-right: 3px solid var(--primary-blue-700);
    border-left: 3px solid var(--primary-blue-700);
    transform: translate(0, -.125rem);
    width: calc(100% - 5px);
}

.nav ul li:not(:last-child) .navButton:active {
    border-right: 3px solid var(--primary-blue-700);
    border-left: 3px solid var(--primary-blue-700);
}

.nav ul li:not(:first-child) .navButton:active {
    border-right: 3px solid var(--primary-blue-700);
    border-left: 3px solid var(--primary-blue-700);
}

.navButton:not(.current):active {
    background-color: var(--accent-red-400);
}

.current:active {
    background-color: var(--accent-orange-600-sat);
}




