.nav {
    background-color: var(--accent-color-gray);
    height: 4rem;
    margin: 0;
    padding: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    padding-inline-start: 0;
}

.nav ul li {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-background-color);
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--main-background-color);
}

.nav ul li:not(:last-child) a {
    border-right: 2px solid var(--main-background-color);
}

.active {
    background-color: orange;
}

.active:hover {
    color: white;
}

.navButtonHover:hover {
    background-color: var(--accent-color-red);
    color: white;
}

/*
.nav a:focus {
    color: white;
}
*/

.nav a:active {
    background-color: hsla(356, 96%, 59%, 1);
}

