.nav {
    padding: 1.5rem 0 1rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin: 0;
}

.nav a {
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid var(--primary-blue-700);
    color: var(--accent-orange-500);
    display: block; /* so translate works */
}

.nav a:hover {
    color: var(--accent-orange-500-sat);
}

.leftNavButton:hover,
.leftNavButton:focus {
    background-color: var(--primary-blue-500);
    filter: drop-shadow(15px 15px 1px var(--gray-300));
    outline: none;
    border: 2px solid var(--accent-orange-300);
    border-radius: 3px;
}

.rightNavButton:hover,
.rightNavButton:focus {
    background-color: var(--primary-blue-500);
    filter: drop-shadow(-15px 15px 1px var(--gray-300));
    outline: none;
    border: 2px solid var(--accent-orange-300);
    border-radius: 3px;
}

.nav a:active {
    background-color: var(--primary-blue-700);
    color: var(--accent-orange-500-sat);
    border: 2px solid var(--accent-orange-500);
}

.leftNavButton:active {
    transform: translate(.2rem, .2rem);
    filter: drop-shadow(calc(15px - .2rem) calc(15px - .2rem) 1px var(--gray-400));
}

.rightNavButton:active {
    transform: translate(-.2rem, .2rem);
    filter: drop-shadow(calc(-15px + .2rem) calc(15px - .2rem) 1px var(--gray-400));
}

@media only screen and (min-width: 551px) {
    .nav a {
        font-size: 1.6rem;
    }
}
