.factsContainer {
    display: inline-flex;
}

.factsHalf {
    display: flex;
    justify-content: center;
    width: 50%;
}

.factsHalf li {
    margin: .7rem 0;
    list-style-type: disc;
    color: var(--primary-blue-700);
    line-height: 2rem;
}

.factsHalf span:hover {
    background-color: var(--gray-300);
    cursor: pointer;
}

.factsExtraInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-blue-500);
    border-radius: 20px;
    width: 80%;
}

.factsExtraInfo h3, .factsExtraInfo p {
    color: var(--gray-100);
    text-align: center;
}

.factsExtraInfo p {
    margin-top: 0;
    padding: 0 3rem;
    line-height: 2rem;
}

.factsHide {
    opacity: 0;
}


