.factsContainer {
    display: inline-flex;
}

.half {
    display: flex;
    justify-content: center;
    width: 50%;
}

.half li {
    cursor: pointer;
    margin: .7rem 0;
    list-style-type: disc;
    color: var(--main-background-color);
}

.factsExtraInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    border-radius: 20px;
    width: 80%;
}

.factsExtraInfo h3, .factsExtraInfo p {
    color: white;
    text-align: center;
}

.hide {
    opacity: 0;
}

.none {
    display: none;
}

.emoji {
    height: 10rem;
}

