/* GENERAL COMPONENT STYLES */

.factsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.factsHalf {
  display: flex;
  justify-content: center;
  width: 100%;
}

.factsHide {
  opacity: 0;
}

.factButton {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
  text-align: left;
  vertical-align: top;
}

/* TOP/LEFT SIDE */
.bulletPointsContainer h3 {
  text-align: center;
}

.bulletPointsContainer ul {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bulletPointsContainer li {
  list-style-type: disc;
  color: var(--primary-blue-700);
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.bulletPointsContainer span:hover {
  background-color: var(--gray-300);
  cursor: pointer;
}

/* BOTTOM/RIGHT SIDE */
.factsExtraInfoContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-blue-500);
  border-radius: 20px;
  width: 86%;
  margin: 0.5rem 0;
}

.factsExtraInfoContainer h3,
.factsExtraInfoContainer p {
  color: #fff;
  text-align: center;
}

.factsExtraInfoContainer h3 {
  margin: 0.75rem 0;
}

.factsExtraInfoText {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.factsExtraInfoText p {
  margin-top: 0;
  padding: 0 1rem;
  font-size: 1rem;
}

@media (min-width: 425px) {
  .factsExtraInfoText p {
    padding: 0 1.5rem;
  }
}

/* SWITCH TO ROW LAYOUT */
@media only screen and (min-width: 780px) {
  .factsContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .factsHalf {
    width: 50%;
  }

  .factsExtraInfoContainer {
    width: 80%;
    min-height: 24rem;
    margin: 0;
  }

  .factsExtraInfoText p {
    line-height: 1.9rem;
  }
}

@media only screen and (min-width: 1440px) {
  .bulletPointsContainer {
    width: 60%;
  }

  .factsExtraInfoContainer {
    width: 60%;
    max-width: 33rem;
  }
}
