/*general component styles*/

.factsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.factsHalf {
  display: flex;
  justify-content: center;
  width: 100%;
}

.factsHalf h3 {
  margin: 0.75rem 0 0;
}

.factsHide {
  opacity: 0;
}

/*left side*/
.bulletPointsContainer h3 {
  text-align: center;
}

.bulletPointsContainer ul {
  padding: 0 1rem;
}

.bulletPointsContainer li {
  margin: 0.7rem 0;
  list-style-type: disc;
  color: var(--primary-blue-700);
  line-height: 1.5rem;
  font-size: 1rem;
}

.bulletPointsContainer span:hover {
  background-color: var(--gray-300);
  cursor: pointer;
}

/*right side*/
.factsExtraInfoContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-blue-500);
  border-radius: 20px;
  width: 86%;
  margin: 0.5rem 0;
}

.factsExtraInfoContainer h3,
.factsExtraInfoContainer p {
  color: #fff;
  text-align: center;
}

.factsExtraInfoContainer h3 {
  margin: 0.75rem 0;
}

.factsExtraInfoText {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.factsExtraInfoText p {
  margin-top: 0;
  margin-bottom: 4%;
  padding: 0 2rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

@media only screen and (min-width: 500px) {
  .bulletPointsContainer li {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 780px) {
  .factsContainer {
    flex-direction: row;
    align-items: start;
  }

  .factsExtraInfoContainer {
    width: 80%;
    margin: 0;
  }

  .factsExtraInfoText p {
    line-height: 1.9rem;
  }
}

@media only screen and (min-width: 1440px) {
  .bulletPointsContainer {
    width: 60%;
  }

  .factsExtraInfoContainer {
    width: 60%;
    max-width: 33rem;
  }
}
