.footer {
    background-color: var(--primary-blue-700);
    height: 4.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -4.5rem;
    
}

.footer h3 {
    margin: 0;
    color: #FFF;
}