.landingPageBody {
    display: flex;
    flex-direction: column;
}

.header {
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/*padding-bottom controls spacing between main and footer*/
.main {
    padding-bottom: 2rem;
}