/* LANDING PAGE STYLES */

.landingPageBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* OTHER PAGE STYLES */

.main {
    padding-bottom: 2rem; /*controls spacing between main and footer*/
}