:root {
  --main-background-color: hsla(213, 24%, 16%, 1); /*#1f2833*/
  --accent-color-1: hsla(176, 96%, 69%, 1); /*#66fcf1*/
  --accent-color-2: hsla(210, 2%, 78%, 1); /*#c6c7c8*/
  --accent-color-3: hsla(356, 96%, 69%, 1); /*FC6671*/
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 18px;
    background-color: var(--main-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

h1 {
  color: var(--accent-color-1);
}

li {
  color: var(--accent-color-3);
}

h2, p {
  color: var(--accent-color-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
