.aboutContainer {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.aboutContainer h2 {
    text-align: center;
}

.emoji {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin: 5% auto;
    height: 32rem;
    width: 32rem;
}




