.aboutContainer {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}

.emojiContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.emoji {
    margin: 4rem auto 0;
    height: 20.11rem;
    width: 26.66rem;
}




