.verbosity form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.verbosity input {
    width: 40%;
    cursor: pointer;
    margin: 1.5rem auto;
}

.verbosity input[type=range] {
    -webkit-appearance: none;
    margin: 18px auto;
    width: 70%;
}

.verbosity input[type=range]:focus {
    outline: none;
}

.verbosity input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--accent-color-blue);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.verbosity input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 2rem;
    width: 1rem;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -.8rem;
  }

.verbosity input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--accent-color-blue);
}

.verbosity input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--accent-color-blue);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

.verbosity input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

.verbosity input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

.verbosity input[type=range]::-ms-fill-lower {
    background: var(--accent-color-blue);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.verbosity input[type=range]::-ms-fill-upper {
    background: var(--accent-color-blue);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.verbosity input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

.verbosity input[type=range]:focus::-ms-fill-lower {
    background: var(--accent-color-blue);
}

.verbosity input[type=range]:focus::-ms-fill-upper {
    background: var(--accent-color-blue);
}