.verbosity form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.verbosity label {
    font-style: italic;
    color: var(--primary-blue-500);
}

.verbosity input {
    margin: 1.5rem auto;
}

/*Replace html slider with custom one*/
.verbosity input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    margin: 1.2rem auto;
    width: 65%;
}

/*
.verbosity input[type=range]:focus {
    outline: none;
}
*/

.verbosity input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .5rem;
    cursor: pointer;
    box-shadow: 1px 1px 1px var(--gray-900), 0px 0px 1px var(--gray-900);
    background: var(--accent-teal-200);
    border-radius: 4px;
    border: 0.2px solid var(--gray-900);
}

.verbosity input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px var(--gray-900), 0px 0px 1px var(--gray-900);
    border: 1px solid var(--gray-900);
    height: 2rem;
    width: 1rem;
    border-radius: 8px;
    background: var(--gray-100);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -.8rem;
  }

.verbosity input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--accent-teal-200);
}

/*for FireFox*/
.verbosity input[type=range]::-moz-range-track {
    width: 100%;
    height: .5rem;
    cursor: pointer;
    box-shadow: 1px 1px 1px var(--gray-900), 0px 0px 1px var(--gray-900);
    background: var(--accent-teal-200);
    border-radius: 4px;
    border: 0.2px solid var(--gray-900);
}

.verbosity input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px var(--gray-900), 0px 0px 1px var(--gray-900);
    border: 1px solid var(--gray-900);
    height: 2rem;
    width: 1rem;
    border-radius: 8px;
    background: var(--gray-100);
    cursor: pointer;
}

/*for microsoft Edge*/
.verbosity input[type=range]::-ms-track {
    width: 100%;
    height: .5rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 1rem 0;
    color: transparent;
}

.verbosity input[type=range]::-ms-fill-lower {
    background: var(--accent-teal-200);
    border-radius: 4px;
    border: 0.2px solid var(--gray-900);
    box-shadow: 1px 1px 1px var(--gray-900), 0px 0px 1px var(--gray-900);
}

.verbosity input[type=range]::-ms-fill-upper {
    background: var(--accent-teal-200);
    border-radius: 4px;
    border: 0.2px solid var(--gray-900);
    box-shadow: 1px 1px 1px var(--gray-900), 0px 0px 1px var(--gray-900);
}

.verbosity input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px var(--gray-900), 0px 0px 1px var(--gray-900);
    border: 1px solid var(--gray-900);
    height: 2rem;
    width: 1rem;
    border-radius: 8px;
    background: var(--gray-100);
    cursor: pointer;
}

.verbosity input[type=range]:focus::-ms-fill-lower {
    background: var(--accent-teal-200);
}

.verbosity input[type=range]:focus::-ms-fill-upper {
    background: var(--accent-teal-200);
}